
/*
 Desenvolvido por Thiago Fernandes	
 AC99dc@gmail.com - thiago_rainmaker@hotmail.com
*/
#formulario{
	background:url(img/bg.gif);
	width:200px;
	height:250px;
}
.btn{
	width:40px;
}
.tela{
	width:155px;
	text-align: right;
}
#operacao{
	width:20px;
	height:10px;
	font-size:10px;
}
#num{
	width:130px;
	text-align:right;
	height:10px;
	font-size:10px;
}
#geral{
	margin-top:20px;
	margin-left:10px;
}
#visao{
	background:url(img/visor.gif);
	width:175px;
	margin-top:15px;
	float:left;
	height:50px;
}
#visao input{
	border:0px;
	margin-left:5px;	
}
